# shellcheck shell=bash

use_nix

if [[ -x "$(command -v nix-shell)" ]]; then
  use_nix
elif [ -s .venv/bin/activate ]; then
  # shellcheck disable=SC1091
  source .venv/bin/activate
  unset PS1
else
  command -v poetry && poetry install || echo "Please install poetry"
fi

unset PS1
